@{
    ViewBag.Title = "Home Page";
}

<main style="background-image: url(https://balkaninsight.com/wp-content/uploads/2021/01/Ohrid-by-BIRN-1280x720-1.jpg); width: 2000px; height: 594px; background-repeat: no-repeat ">
    <div style="position: relative; margin-left: 62.5px; padding-top:80px;">

        <h1>Welcome to the online gallery of Macedonian cultural heritage</h1>
    </div>
</main>